In [2]:
# Initial imports

from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import numpy as np 
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import re
import string
from nltk.stem import WordNetLemmatizer

In [3]:
#read in the dataset
df = pd.read_csv('../Output_Folder/S_B_Data.csv')

In [4]:
df

,business_id,name_x,address_x,city_x,state_x,postal_code_x,latitude,longitude,stars_x,review_count_x,name_y,address_y,city_y,state_y,postal_code_y,review_count_y,review_id,stars_y,text
0,noByYNtDLQAra9ccqxdfDw,H&M,827-833 State St,Santa Barbara,CA,93101,34.420209,-119.700460,3.0,24,H&M,827-833 State St,Santa Barbara,CA,93101.0,24.0,nD9ug6O1rQQ_B6OuY5eitw,5.0,The people at the store amazing! We came in to...
1,noByYNtDLQAra9ccqxdfDw,H&M,827-833 State St,Santa Barbara,CA,93101,34.420209,-119.700460,3.0,24,H&M,827-833 State St,Santa Barbara,CA,93101.0,24.0,ok15zpwBjImmf3KlSGUkJw,4.0,This is the best priced place for tank tops th...
2,noByYNtDLQAra9ccqxdfDw,H&M,827-833 State St,Santa Barbara,CA,93101,34.420209,-119.700460,3.0,24,H&M,827-833 State St,Santa Barbara,CA,93101.0,24.0,Q3LfxYXMB_odT6HJRQdqkQ,4.0,Glad to have H&M in Santa Barbara. What an exc...
3,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101.0,389.0,L0jv8c2FbpWSlfNC6bbUEA,5.0,What a great addition to the Funk Zone! Grab ...
4,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101.0,389.0,LFpaQzYkP5Pzm5lEjJpTRw,5.0,Possibly the best breakfast sandwich EVER. On...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1406,bVaRZDHkWdsHuARGxxpREw,Sushi Bar 29,1134 Chapala St,Santa Barbara,CA,93101,34.422291,-119.705339,4.5,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1407,US1LvQeJ03KH0sViR-KfVQ,Truth Aquatics,301 W Cabrillo Blvd,Santa Barbara,CA,93101,34.408290,-119.691469,4.5,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1408,izSgTrqebu8bN8ONOCs6cQ,Oat Bakery,5 W Haley St,Santa Barbara,CA,93101,34.416548,-119.695626,5.0,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1409,IRBhPAC4ZoDpXazpoB3epQ,Good Stuff Baked Treats,NaN,Santa Barbara,CA,93101,34.420334,-119.710749,5.0,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1410,f7rTfTv6dwO-ovKhz-Rvgw,"Joanne & Tem Gronquist, OD","1805 State St, Ste B",Santa Barbara,CA,93101,34.428995,-119.712718,4.5,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df=df.dropna()
df = df.reset_index(drop=True)
df

,business_id,name_x,address_x,city_x,state_x,postal_code_x,latitude,longitude,stars_x,review_count_x,name_y,address_y,city_y,state_y,postal_code_y,review_count_y,review_id,stars_y,text
0,noByYNtDLQAra9ccqxdfDw,H&M,827-833 State St,Santa Barbara,CA,93101,34.420209,-119.700460,3.0,24,H&M,827-833 State St,Santa Barbara,CA,93101.0,24.0,nD9ug6O1rQQ_B6OuY5eitw,5.0,The people at the store amazing! We came in to...
1,noByYNtDLQAra9ccqxdfDw,H&M,827-833 State St,Santa Barbara,CA,93101,34.420209,-119.700460,3.0,24,H&M,827-833 State St,Santa Barbara,CA,93101.0,24.0,ok15zpwBjImmf3KlSGUkJw,4.0,This is the best priced place for tank tops th...
2,noByYNtDLQAra9ccqxdfDw,H&M,827-833 State St,Santa Barbara,CA,93101,34.420209,-119.700460,3.0,24,H&M,827-833 State St,Santa Barbara,CA,93101.0,24.0,Q3LfxYXMB_odT6HJRQdqkQ,4.0,Glad to have H&M in Santa Barbara. What an exc...
3,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101.0,389.0,L0jv8c2FbpWSlfNC6bbUEA,5.0,What a great addition to the Funk Zone! Grab ...
4,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101,34.414445,-119.690672,4.0,389,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101.0,389.0,LFpaQzYkP5Pzm5lEjJpTRw,5.0,Possibly the best breakfast sandwich EVER. On...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,gebiRewfieSdtt17PTW6Zg,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101,34.416984,-119.695556,3.5,488,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101.0,488.0,XsWDCINpcUyQQaBJdoiGNA,4.0,Something''s Fishy was an overall excellent re...
379,gebiRewfieSdtt17PTW6Zg,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101,34.416984,-119.695556,3.5,488,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101.0,488.0,K-2es_s2Yc7hIiIrRD5W7w,4.0,One of my all time favorite place to go with a...
380,gebiRewfieSdtt17PTW6Zg,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101,34.416984,-119.695556,3.5,488,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101.0,488.0,SLsARlQcSmpySN79CMhfDg,3.0,"This place was alright in my opinion, but not ..."
381,gebiRewfieSdtt17PTW6Zg,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101,34.416984,-119.695556,3.5,488,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101.0,488.0,YessyTCsCdeYm_MT_ZcHEA,1.0,"Well, to start the dining area is very very da..."
382,gebiRewfieSdtt17PTW6Zg,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101,34.416984,-119.695556,3.5,488,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101.0,488.0,nDqk-3muceg_aU9RnXrpVQ,3.0,The miso soup is salty and wrong. All the cook...

In [14]:
cols = [0,8,18]

text_data = df[df.columns[cols]]

text_data.head()

,business_id,stars_x,text
0,noByYNtDLQAra9ccqxdfDw,3.0,The people at the store amazing! We came in to...
1,noByYNtDLQAra9ccqxdfDw,3.0,This is the best priced place for tank tops th...
2,noByYNtDLQAra9ccqxdfDw,3.0,Glad to have H&M in Santa Barbara. What an exc...
3,IDtLPgUrqorrpqSLdfMhZQ,4.0,What a great addition to the Funk Zone! Grab ...
4,IDtLPgUrqorrpqSLdfMhZQ,4.0,Possibly the best breakfast sandwich EVER. On...

In [15]:
text_data.dtypes

business_id     object
stars_x        float64
text            object
dtype: object

In [16]:
#resetting the index

df2 = text_data.reset_index(drop=True)
df2

,business_id,stars_x,text
0,noByYNtDLQAra9ccqxdfDw,3.0,The people at the store amazing! We came in to...
1,noByYNtDLQAra9ccqxdfDw,3.0,This is the best priced place for tank tops th...
2,noByYNtDLQAra9ccqxdfDw,3.0,Glad to have H&M in Santa Barbara. What an exc...
3,IDtLPgUrqorrpqSLdfMhZQ,4.0,What a great addition to the Funk Zone! Grab ...
4,IDtLPgUrqorrpqSLdfMhZQ,4.0,Possibly the best breakfast sandwich EVER. On...
...,...,...,...
378,gebiRewfieSdtt17PTW6Zg,3.5,Something''s Fishy was an overall excellent re...
379,gebiRewfieSdtt17PTW6Zg,3.5,One of my all time favorite place to go with a...
380,gebiRewfieSdtt17PTW6Zg,3.5,"This place was alright in my opinion, but not ..."
381,gebiRewfieSdtt17PTW6Zg,3.5,"Well, to start the dining area is very very da..."
382,gebiRewfieSdtt17PTW6Zg,3.5,The miso soup is salty and wrong. All the cook...

In [17]:
#labelling the reviews

#convert star rating to int
df2['stars'] = df2['stars_x'].astype(int)

In [18]:
#removing the 3 star reviews because they are 'neutral'
df3 = df2[df2['stars'] !=3]
df3['label']=np.where(df3['stars'] >=4,1,0) #1-positive, 0-Negative

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
df3['stars'].value_counts()

4    301
5     28
2      9
Name: stars, dtype: int64

In [20]:
df3['pre_process'] = df3['text'].apply(lambda x: ''.join(x.lower() for x in str(x).split()))
df3

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,business_id,stars_x,text,stars,label,pre_process
3,IDtLPgUrqorrpqSLdfMhZQ,4.0,What a great addition to the Funk Zone! Grab ...,4,1,"whatagreatadditiontothefunkzone!grababite,grab..."
4,IDtLPgUrqorrpqSLdfMhZQ,4.0,Possibly the best breakfast sandwich EVER. On...,4,1,possiblythebestbreakfastsandwichever.onabiscui...
5,IDtLPgUrqorrpqSLdfMhZQ,4.0,Pricey ( a ham and cheese croissant was $5.50)...,4,1,pricey(ahamandcheesecroissantwas$5.50)aswithan...
6,IDtLPgUrqorrpqSLdfMhZQ,4.0,Are you kidding me? This is without a doubt so...,4,1,areyoukiddingme?thisiswithoutadoubtsomeofthebe...
7,IDtLPgUrqorrpqSLdfMhZQ,4.0,"Super slow service, salads are not very good a...",4,1,"superslowservice,saladsarenotverygoodandreally..."
...,...,...,...,...,...,...
356,I0jFTYVDs-WHwKR2XHQlRA,4.0,Delish! The Pad Thai were perfect spicy. Only ...,4,1,delish!thepadthaiwereperfectspicy.onlycomplain...
357,CR-vaZAG9xtZ6cYKS5ZvzA,5.0,I have used them for my business mail for year...,5,1,ihaveusedthemformybusinessmailforyears.they're...
358,CR-vaZAG9xtZ6cYKS5ZvzA,5.0,I have been with Mailbox Express II since 2001...,5,1,ihavebeenwithmailboxexpressiisince2001.inthatt...
359,xt1wRm1Ti-P6cF2rAY1_XA,5.0,"Mary is the best!! She is very,very knowledgea...",5,1,"maryisthebest!!sheisvery,veryknowledgeableinco..."
360,xt1wRm1Ti-P6cF2rAY1_XA,5.0,Mary is an amazing Acupuncturist. I had a sev...,5,1,maryisanamazingacupuncturist.ihadaseverelyinju...

In [21]:
# Perform the Contractions on the reviews text, eg 'it won't be' becomes 'it will not be'
def contractions(s):
 s = re.sub(r"won't", "will not",s)
 s = re.sub(r"would't", "would not",s)
 s = re.sub(r"could't", "could not",s)
 s = re.sub(r"\'d", " would",s)
 s = re.sub(r"can\'t", "can not",s)
 s = re.sub(r"n\'t", " not", s)
 s= re.sub(r"\'re", " are", s)
 s = re.sub(r"\'s", " is", s)
 s = re.sub(r"\'ll", " will", s)
 s = re.sub(r"\'t", " not", s)
 s = re.sub(r"\'ve", " have", s)
 s = re.sub(r"\'m", " am", s)
 return s
df3['pre_process']=df3['pre_process'].apply(lambda x:contractions(x))

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
# Remove non-alpha characters
df3['pre_process']=df3['pre_process'].apply(lambda x: " ".join([re.sub('[^A-Za-z]+','', x) for x in nltk.word_tokenize(x)]))

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
# Remove the extra spaces between the words
df3['pre_process']=df3['pre_process'].apply(lambda x: re.sub(' +', ' ', x))

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
# Remove the stop words by using the NLTK package
from nltk.corpus import stopwords
stop = stopwords.words('english')
df3['pre_process']=df3['pre_process'].apply(lambda x: " ".join([x for x in x.split() if x not in stop]))

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [25]:
#stopword removal and lemmatization
stopwords = nltk.corpus.stopwords.words('english')
lemmatizer = WordNetLemmatizer()
nltk.download('stopwords')

df3.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,business_id,stars_x,text,stars,label,pre_process
3,IDtLPgUrqorrpqSLdfMhZQ,4.0,What a great addition to the Funk Zone! Grab ...,4,1,whatagreatadditiontothefunkzone grababite grab...
4,IDtLPgUrqorrpqSLdfMhZQ,4.0,Possibly the best breakfast sandwich EVER. On...,4,1,possiblythebestbreakfastsandwicheveronabiscuit...
5,IDtLPgUrqorrpqSLdfMhZQ,4.0,Pricey ( a ham and cheese croissant was $5.50)...,4,1,pricey ahamandcheesecroissantwas aswithanywher...
6,IDtLPgUrqorrpqSLdfMhZQ,4.0,Are you kidding me? This is without a doubt so...,4,1,areyoukiddingme thisiswithoutadoubtsomeofthebe...
7,IDtLPgUrqorrpqSLdfMhZQ,4.0,"Super slow service, salads are not very good a...",4,1,superslowservice saladsarenotverygoodandreally...

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train, Y_test = train_test_split(df3['pre_process'], df3['label'], test_size=0.25, random_state=30)
print("Train:" ,X_train.shape,Y_train.shape,"Test: ",(X_test.shape,Y_test.shape))

Train: (253,) (253,) Test:  ((85,), (85,))

In [27]:
print("TFIDF Vectorizer……")
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer= TfidfVectorizer()
tf_x_train = vectorizer.fit_transform(X_train)
tf_x_test = vectorizer.transform(X_test)

TFIDF Vectorizer……

In [28]:
#decision tree
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(tf_x_train,Y_train)
preddt = dt.predict(tf_x_test)
print("Confusion Matrix for Decision Tree:")
print(confusion_matrix(Y_test,preddt))
print("Score:",round(accuracy_score(Y_test,preddt)*100,2))
print("Classification Report:\n",classification_report(Y_test,preddt))

Confusion Matrix for Decision Tree:
[[ 0  3]
 [ 0 82]]
Score: 96.47
Classification Report:
               precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.96      1.00      0.98        82

    accuracy                           0.96        85
   macro avg       0.48      0.50      0.49        85
weighted avg       0.93      0.96      0.95        85

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [29]:
# implement random oversampling

from collections import Counter
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(tf_x_train, Y_train)

Counter(y_resampled)

Counter({1: 247, 0: 247})

In [30]:
# Logistic regression using random oversampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [31]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

y_pred = model.predict(tf_x_test)
confusion_matrix(Y_test, y_pred)

array([[ 0,  3],
       [ 0, 82]], dtype=int64)

In [32]:
from sklearn.metrics import balanced_accuracy_score

balanced_accuracy_score(Y_test, y_pred)

0.5

In [33]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(Y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.00      0.00      1.00      0.00      0.00      0.00         3
          1       0.96      1.00      0.00      0.98      0.00      0.00        82

avg / total       0.93      0.96      0.04      0.95      0.00      0.00        85

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [34]:
#SMOTEEN
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
X_resampled, y_resampled = smote_enn.fit_resample(tf_x_train, Y_train)

In [35]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 0