In [35]:
#importing libraries
import numpy as np 
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
import re
import string
from nltk.stem import WordNetLemmatizer

In [36]:
#read in the dataset
data = pd.read_csv('../cleaned_count.csv')

In [37]:
data.head()

,business_id,name,address,city,state,postal_code,review_count,review_id,stars,text
0,XQfwVwDr-v0ZS3_CbbE5Xw,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,169,KU_O5udG6zpxOg-VcAEodg,3.0,"If you decide to eat here, just be aware it is..."
1,kxX2SOes4o-D3ZQBkiMRfA,Zaika,2481 Grant Ave,Philadelphia,PA,19114,181,AqPFMleE6RsU23_auESxiA,5.0,"Wow! Yummy, different, delicious. Our favo..."
2,gmjsEdUsKpj9Xxu6pdjH0g,The Voodoo Bone Lady Tours,"201 St Charles Ave, Ste 2560",New Orleans,LA,70170,359,6AxgBCNX_PNTOxmbRSwcKQ,5.0,Loved this tour! I grabbed a groupon and the p...
3,gebiRewfieSdtt17PTW6Zg,Hibachi Steak House & Sushi Bar,502 State St,Santa Barbara,CA,93101,488,pUycOfUwM8vqX7KjRRhUEA,3.0,Had a party of 6 here for hibachi. Our waitres...
4,uMvVYRgGNXf5boolA9HXTw,Shalimar Fine Jewelers,250 Westshore Plz,Tampa,FL,33609,8,rGQRf8UafX7OTlMNN19I8A,5.0,My experience with Shalimar was nothing but wo...

In [38]:
#inspect shape
data.shape

(14314, 10)

In [55]:
cols = [8,9]

text_data = data[data.columns[cols]]

text_data.head()

   stars                                               text
0    3.0  If you decide to eat here, just be aware it is...
1    5.0  Wow!  Yummy, different,  delicious.   Our favo...
2    5.0  Loved this tour! I grabbed a groupon and the p...
3    3.0  Had a party of 6 here for hibachi. Our waitres...
4    5.0  My experience with Shalimar was nothing but wo...

In [56]:
text_data.dtypes

stars    float64
text      object
dtype: object

In [60]:
#labelling the reviews

#convert star rating to int
text_data['stars'] = text_data['stars'].astype(int)

#removing the 3 star reviews because they are 'neutral'
star_data = text_data[text_data['stars'] !=3]
star_data['label']=np.where(star_data['stars'] >=4,1,0) #1-positive, 0-Negative

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
#converting text column from string to float

text_data['text'] = text_data['text'].astype(float)

ValueError: could not convert string to float: "If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it''s other locations in NJ and never had a bad experience. \n\nThe food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker."

In [48]:
text_data["text"] = pd.to_numeric(text_data["text"], downcast="float")

ValueError: Unable to parse string "If you decide to eat here, just be aware it is going to take about 2 hours from beginning to end. We have tried it multiple times, because I want to like it! I have been to it''s other locations in NJ and never had a bad experience.

The food is good, but it takes a very long time to come out. The waitstaff is very young, but usually pleasant. We have just had too many experiences where we spent way too long waiting. We usually opt for another diner or restaurant on the weekends, in order to be done quicker." at position 0

In [53]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(text_data)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count.get_feature_names(),columns=[text_data])

#inverse document frequency
df_idf.sort_values(by=[text_data])

ValueError: could not convert string to float: 'XQfwVwDr-v0ZS3_CbbE5Xw'

In [54]:
#stopword removal and lemmatization
stopwords = nltk.corpus.stopwords.words('english')
lemmatizer = WordNetLemmatizer()
nltk.download('stopwords')

text_data.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\david\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

              business_id                                               text
0  XQfwVwDr-v0ZS3_CbbE5Xw  If you decide to eat here, just be aware it is...
1  kxX2SOes4o-D3ZQBkiMRfA  Wow!  Yummy, different,  delicious.   Our favo...
2  gmjsEdUsKpj9Xxu6pdjH0g  Loved this tour! I grabbed a groupon and the p...
3  gebiRewfieSdtt17PTW6Zg  Had a party of 6 here for hibachi. Our waitres...
4  uMvVYRgGNXf5boolA9HXTw  My experience with Shalimar was nothing but wo...